<h2><%= link_to show.name, show %></h2>
<p>Channel: <%= show.channel.name %></p>
<p>Show Timing: <%= show.timing %></p>
<%= link_to "Add to my favourites", add_favourite_show_path(show), method: :post %>
<hr>